// Place all the styles related to the Transactios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#shrink{
    width: 840px;
    zoom: 0.4;
    -moz-transform: scale(0.4);
}
