// Place all the styles related to the Transactios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#shrink{
    width: 840px;
    zoom: 0.2;
    -moz-transform: scale(0.2);
    line-height: 3;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #98bf21;
    padding: 3px 8px 2px 8px;
    background-color: #EAF2D3;
}
