<h1>Welcome to your DASHBOARD B)</h1>

<div class="ddd">

    <p id="shrink"><%= angry %></p>

    <p class="words">YOUR BALANCE IS NEGATIVE!</p>

</div>

<div class="under">
    <p>
        <%= link_to 'New Transactio', new_transactio_path %>

        <p>Total transactios:</p>
        <p><%= number_of_transactios %></p>

    Total balance:

        <p><%= total %></p>

    </p>
</div>
